*.svf
*.log
*.txt*
*.nlib
*.ndm
*_rules_*
*tmp*/
*cache*/
HDL_LIBRARIES/
legalizer_debug_plots/
work_dir/
pg_model/
*StarRC*/
.node*
signoff_fill_run/
signoff_check_drc_run/
signoff_check_antenna_drc_run/
signoff_check_mim_antenna_drc_run/
signoff_check_lvs_run/
signoff_fix_drc_run/
signoff_check_drc_run_after_fix_drc/
signoff_create_pg_augmentation_run/
signoff_check_drc_live_run/
RAIL_DATABASE/
*.ems
PreFrameCheck/
.snps_mv_reports
outputs/
reports/
logs/
open_block.tcl
